<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.apartment.mapper.FileMapper">

    <!--  批量插入文件  -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into file (`username`, `resource`, `filetype`, `filename`, `repairsid`, `userid`)
         VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.username},
            #{item.resource},
            #{item.fileType},
            #{item.filename},
            #{item.repairsid},
            #{item.userid}
            )
        </foreach>
    </insert>

    <!--  查询文件信息  -->
    <select id="selectFileByInfo" parameterType="com.admin.apartment.entity.File" resultType="com.admin.apartment.entity.File">
        select * from file
        <where>
            1=1
            <if test="t.id != 0">
                and id=#{t.id}
            </if>
            <if test="t.file_name != null">
                and username=#{t.username}
            </if>
            <if test="t.file_type != null">
                and filetype=#{t.fileType}
            </if>
            <if test="t.belong_to != null">
                and repairsid=#{t.repairsid}
            </if>
        </where>
    </select>

    <!--  模糊查询文件信息  -->
    <select id="selectFileByLike" parameterType="com.admin.apartment.entity.File" resultType="com.admin.apartment.entity.File">
        select * from file
        <where>
            1=1
            <if test="t.file_name != null">
                and username like '%'||#{t.username}||'%'
            </if>
            <if test="t.file_type != null">
                and filetype like '%'||#{t.fileType}||'%'
            </if>
            <if test="t.belong_to != null">
                and repairsid in (#{t.repairsid})
            </if>
        </where>
    </select>

    <!--  通过维修单 id 查找文件  -->
    <select id="selectByRepairsId" resultType="com.admin.apartment.entity.File" parameterType="java.lang.Long">
        select * from file where repairsid = #{repairsid}
    </select>

</mapper>
