<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.apartment.mapper.PhoneVerifyMapper">

    <update id="updateByBarcode" parameterType="java.lang.String">
        update phone_verify set state=1 where barcode = #{barcode}
    </update>

    <select id="selectByBarcode" resultType="com.admin.apartment.entity.PhoneVerify" parameterType="java.lang.String">
        select * from phone_verify where barcode = #{barcode}
    </select>
</mapper>
