<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.apartment.mapper.UserMapper">

<!--  查询租户信息  -->
    <select id="selectUserByInfo" parameterType="com.admin.apartment.entity.User" resultType="com.admin.apartment.entity.User">
        select * from apartment_user
        <where>
            1=1
            <if test="t.id != 0">
                and id=#{t.id}
            </if>
            <if test="t.name != null">
                and name=#{t.name}
            </if>
            <if test="t.sex != null">
                and sex=#{t.sex}
            </if>
            <if test="t.phone != null">
                and phone=#{t.phone}
            </if>
            <if test="t.idNumber != null">
                and idNumber=#{t.idNumber}
            </if>
            <if test="t.idType != null">
                and idType=#{t.idType}
            </if>
            <if test="t.isLive != null">
                and isLive=#{t.isLive}
            </if>
            order by createtime desc
        </where>
    </select>

    <!--  模糊查询租户信息通过姓名  -->
    <select id="selectUserByName" parameterType="java.lang.String" resultType="com.admin.apartment.entity.User">
        select * from apartment_user
        <where>
            1=1
            <if test="name != null">
                and name like '%${name}%'
            </if>
        </where>
    </select>

    <!--  模糊查询租户信息  -->
    <select id="selectUserByLike" parameterType="com.admin.apartment.entity.User" resultType="com.admin.apartment.entity.User">
        select * from apartment_user
        <where>
            1=1
            <if test="t.name != null">
                and name like '%${t.name}%'
            </if>
            <if test="t.sexSet != null">
                and sex in
                <foreach item="item" index="index" collection="t.sexSet"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="t.phone != null">
                and phone like '%${t.phone}%'
            </if>
            <if test="t.idNumber != null">
                and idNumber like '%${t.idNumber}%'
            </if>
            <if test="t.idTypeSet != null">
                and idType in
                <foreach item="item" index="index" collection="t.idTypeSet"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="t.isLiveSet != null">
                and isLive in
                <foreach item="item" index="index" collection="t.isLiveSet"
                                   open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            order by createtime desc
        </where>
    </select>
    <!--更新租户的状态为已入住或未入住-->
    <update id="updateUserStatusById">
        update apartment_user set status = #{status}
        where id=#{id}
    </update>
<!--获取全部的证件类型-->
    <select id="selectIdTypeList" resultType="java.lang.String">
        select distinct idType from apartment_user
    </select>


</mapper>
